extends layout

block content
  h1= title
  p 댓글 기능 체크용 페이지입니다

  form(action="/comments/write" method="POST")
    input(name="comment" type="text" placeholder="댓글 내용" required="" autocomplete="off")
    button(type="submit") 댓글 작성

  -if(comments)
    table
      thead
        tr
          th 번호
          th 작성자
          th 내용
          th 좋아요
          th 싫어요
      tbody
        -for (let i = 0; i < comments.length; i++)
          tr
            td=comments[i].no
            td=comments[i].writer
            td=comments[i].contents
            td=comments[i].good_num
            td=comments[i].bad_num
    
  form(action="/comments/update" method="POST")
    input(name="no" type="number" placeholder="수정할 댓글 번호" required="" autocomplete="off")
    input(name="comment" type="text" placeholder="수정할 댓글 내용" required="" autocomplete="off")
    button(type="submit") 댓글 수정

  form(action="/comments/delete" method="POST")
    input(name="no" type="number" placeholder="삭제할 댓글 번호" required="" autocomplete="off")
    button(type="submit") 댓글 삭제